:root {
  --stop-btn-size: 50px;
  --play-btn-size: 50px;
  --timer-font-size: 50px;
  --game-score-font-size: 50px;

  --body-background-color: rgba(0, 0, 0);
  --btn-background-color: wheat;
  --timer-background-color: snow;
  --game-score-background-color: darksalmon;
  --font-base-color: rgb(53, 42, 42);
  --font-point-color: snow;

  --block-ui-color: rgba(0, 0, 0, 0.7);
  --block-ui-background-color: rgba(0, 0, 0, 0.3);
}
.hide {
  display: none;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: 8px;
  padding: 2px 12px;
  background-color: var(--btn-background-color);
  border: 4px solid var(--font-base-color);
  color: var(--font-base-color);
  transition: transform 100ms ease-in;
}
button:hover {
  transform: scale(1.1);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-background-color);
  overflow-y: hidden;
}
/*******************************************
 * 게임
 *******************************************/
.game {
  background: url('img/background.png') center/cover;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
}
/*********** 게임 header ***********/
.game__header {
  text-align: center;

  padding-top: 8px;
}
.btn__stop {
  font-size: var(--stop-btn-size);
}
.game__timer {
  font-size: var(--timer-font-size);
  background-color: var(--timer-background-color);
  display: block;
  width: 150px;
  text-align: center;
  border-radius: 8px;
  border: 4px solid var(--font-base-color);
  padding: 2px 0;
  margin: 4px auto 4px auto;
  user-select: none;
  cursor: auto;
}
.game__score {
  font-size: var(--game-score-font-size);
  background-color: var(--game-score-background-color);
  color: var(--font-point-color);
  display: block;
  text-align: center;
  border-radius: 50%;
  border: 4px solid var(--font-base-color);
  width: 70px;
  height: 70px;
  margin: 4px auto 4px auto;
  user-select: none;
  cursor: auto;
}
/*********** 게임 field ***********/
.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  /* background-color: rgba(36, 36, 36, 0.3); */
}
.game__field__img {
  position: absolute;
  transition: transform 100ms ease-in;
}
.game__field__img:hover {
  transform: scale(1.1);
}
/*******************************************
 * 팝업
 *******************************************/
.popup__background {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 500px;
  transform: translate(0, -100%);
}
.popup {
  width: 450px;
  background-color: var(--block-ui-color);
  color: var(--font-point-color);
  text-align: center;
  padding: 16px;
  border-radius: 16px;
  margin: auto;
  transform: translate(0, 150%);
}
.btn__play {
  font-size: var(--play-btn-size);
}
.btn__replay {
  padding: 2px 8px;
  font-size: var(--play-btn-size);
}
.popup__message {
  font-size: var(--play-btn-size);
}
