:root {
  --body-background: black;
  --point-color: snow;
}
body {
  background-color: var(--body-background);
  cursor: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 900px;
  margin: 0;
}
div,
span {
  position: absolute;
}
.coordinates {
  width: 120px;
  font-size: 24px;
  color: var(--point-color);
  padding: 12px 8px;
}

.line {
  background-color: var(--point-color);
}

.lineX {
  width: 100%;
  height: 1px;
}

.lineY {
  width: 1px;
  height: 100%;
  min-height: 900px;
}

.icon {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}
